<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3"><i class="fas fa-key fa-sm text-secondary"></i> These are all people's secrets:</h1>

    <%let count = -1%>
    <%users.forEach((user, i)=>{%>
      <%user.secrets.forEach((secret)=>{%>
        <%count += 1%>
        <% if (count%2 === 0) { %>
          <p class="h3 bg-dark py-1 text-capitalize text-danger"><%=secret%></p>
        <%} else {%>
          <p class="h3 bg-dark py-1 text-capitalize text-info"><%=secret%></p>
        <%}%>
      <%})%>
    <%})%>

    <hr>
    
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
